<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

<link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">


<div class="panel-body">
    <div class="row">
        <button class="btn btn-success" onclick="window.location.href='/admin' ">Back</button>
        <div class="col-md-12 ">
            <h3 class="text-center text-primary h1">Chỉnh sửa phim</h3>
            <form role="form" action="/admin/editFilm/{{data._id}}" method="post" enctype="multipart/form-data">
                <div class="form-group ">
                    <label for="nameFilm">Tên phim</label>
                    <input class="form-control" name="nameFilm" id="slug" onkeyup="ChangeToSlug()"
                        value="{{ data.nameFilm }}" />

                </div>
                <div class="form-group ">
                    <label for="slug">Slug:</label>
                    <input class="form-control" name="slug" id="convert_slug" value="{{ data.slug }}" />
                </div>
                <div class="form-group ">
                    <label for="nameEng">Tên tiếng anh</label>
                    <input class="form-control" name="nameEng" id="nameEng" value="{{ data.nameEng }}" />

                </div>
                <div class="form-group ">
                    <label for="genre">Thể loại:</label>

                    {{#each data.genre}}
                    <input type="checkbox" id="{{this._id}}" name="genre" value="{{this._id}}" checked />
                    <label for="{{this._id}}">{{this.nameGenre}}</label>

                    {{/each }}

                    {{#each genreOther}}
                    <input type="checkbox" id="{{this._id}}" name="genre" value="{{this._id}}" />
                    <label for="{{this._id}}">{{this.nameGenre}}</label>
                    {{/each }}

                </div>
                <div class="form-group ">
                    <label for="country">Quốc gia</label>
                    <select class="form-control" name="country" id="country">
                        <option value="{{data.country._id}}">{{data.country.nameCountry}}</option>
                        {{#each countryOther }}
                        <option value="{{this._id}}">{{this.nameCountry}}</option>
                        {{/each }}
                    </select>
                </div>
                <div class="form-group ">
                    <label for="category">Danh mục:</label>

                    {{#each data.category}}
                    <input type="checkbox" id="{{this._id}}" name="category" value="{{this._id}}" checked />
                    <label for="{{this._id}}">{{this.nameCategory}}</label>

                    {{/each }}
                    {{#each categoryOther}}
                    <input type="checkbox" id="{{this._id}}" name="category" value="{{this._id}}" />
                    <label for="{{this._id}}">{{this.nameCategory}}</label>
                    {{/each }}

                </div>
                <div class="form-group ">
                    <!-- Create the editor container -->
                    <label for="describe">Mô tả</label>
                    <textarea class="form-control" name="describe" id="describe" rows="8">{{data.describe}}</textarea>
                </div>
                <div class="form-group ">
                    <label for="director">Đạo diễn</label>
                    <input class="form-control" name="director" id="director" value="{{data.director}}" />

                </div>
                <div class="form-group ">
                    <label for="actor">Diễn viên</label>
                    <input class="form-control" name="actor" id="actor" value="{{data.actor}}" />

                </div>
                <div class="form-group ">
                    <label for="YearFilm">Năm sản xuất</label>
                    <input class="form-control" name="YearFilm" id="YearFilm" value="{{data.YearFilm}}" />

                </div>
                <div class="form-group ">
                    <label for="duration">Thời lượng</label>
                    <input class="form-control" name="duration" id="duration" value="{{data.duration}}" />

                </div>
                <div class="form-group ">
                    <label for="image">Image</label>
                    <input type="file" name="image" id="image">
                </div>
                <div class="form-group ">
                    <label for="resolutions">Chất lượng phim/Session</label>
                    <input class="form-control" name="resolutions" id="resolutions" value="{{ data.resolutions }}" />

                </div>
                <div class="form-group ">
                    <label for="subtitle">Phụ đề</label>

                    <select class="form-control" name="subtitle" id="subtitle">

                        <option value="Phụ đề">Phụ đề</option>
                        <option value="Thuyết minh">Thuyết minh</option>

                    </select>

                </div>

                <div class="form-group ">
                    <label for="trailer">Trailer</label>
                    <input class="form-control" name="trailer" id="trailer" value="{{ data.trailer }}" />

                </div>

                <div class="form-group ">
                    <label for="season">Season</label>
                    <input class="form-control" name="season" id="season" value="{{ data.season }}" />


                </div>
                <div class="form-group ">
                    <label for="episode">Tập phim</label>

                    <select class="form-control" name="episode" id="episode">
                        <option value="">Tình trạng tập</option>
                        <option value="Đang cập nhập">Đang cập nhập</option>
                        <option value="Full">Full</option>

                    </select>

                </div>


                <div class="form-group ">
                    <label for="resolutions">Link Phim</label>
                    <input class="form-control" name="linkPhim" id="linkPhim" value="{{ data.linkPhim }}" />

                </div>
                {{#each errors}}
                <span class="control-label" style="color: red;" id="errorForm">{{this.message}}</span>
                {{/each}}
                <p class="error-message" style="color: red; display: none;"></p>
                <button type="submit" class="btn btn-primary">Cập nhật phim</button>
            </form>
        </div>
    </div>
</div>
<script>
    $('#Film').addClass('active-menu');

    $(document).ready(function () {
        $('form').submit(function (e) {
            var empty = false;
            $('input[type="text"]:not([name="season"]), textarea').each(function () {
                if ($(this).val() == '') {
                    empty = true;
                    $(this).addClass('error');
                } else {
                    $(this).removeClass('error');
                }
            });
            // Kiểm tra input file
            var emptyFile = false;
            $('input[type="file"]').each(function () {
                if ($(this).val() == '') {
                    emptyFile = true;
                    $(this).addClass('error');
                } else {
                    $(this).removeClass('error');
                }
            });
            if (empty || emptyFile) {
                e.preventDefault();
                $('.error-message').html('Vui lòng điền đầy đủ thông tin').show();
            } else {
                $('.error-message').hide();
            }
        });
    });
</script>


<!-- Initialize Quill editor -->
{{!--
<script>
    var quill = new Quill('#editor', {
        debug: 'info',
        placeholder: 'Enter the description of the movie',
        theme: 'snow'
    });

    // Lấy giá trị của trường quill và set vào trường textarea trước khi submit form
    const form = document.querySelector('form');

    form.addEventListener('submit', function (event) {
        const quill = document.querySelector('#editor .ql-editor');
        const textarea = document.querySelector('#describe');
        const value = quill.getContents();

        textarea.value = value;
    });

</script> --}}


{{!-- <div class="col-md-12">
    <h3 class="text-center text-primary h1">Chỉnh sửa phim mới</h3>
    <form role="form">
        <div class="form-group">
            <label>Text Input</label>
            <input class="form-control" />
            <p class="help-block">Help text here.</p>
        </div>
        <div class="form-group">
            <label>Text Input with Placeholder</label>
            <input class="form-control" placeholder="PLease Enter Keyword" />
        </div>
        <div class="form-group">
            <label>Just A Label Control</label>
            <p class="form-control-static">info yourdomain.com</p>
        </div>
        <div class="form-group">
            <label>File input</label>
            <input type="file" />
        </div>
        <div class="form-group">
            <label>Text area</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Checkboxes</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" />Checkbox Example One
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" />Checkbox Example Two
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" />Checkbox Example Three
                </label>
            </div>
        </div>
        <div class="form-group">
            <label>Inline Checkboxes Examples</label>
            <label class="checkbox-inline">
                <input type="checkbox" /> One
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" /> Two
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" /> Three
            </label>
        </div>
        <div class="form-group">
            <label>Radio Button Examples</label>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />Radio
                    Example One
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />Radio Example Two
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" />Radio Example
                    Three
                </label>
            </div>
        </div>

        <div class="form-group">
            <label>Select Example</label>
            <select class="form-control">
                <option>One Vale</option>
                <option>Two Vale</option>
                <option>Three Vale</option>
                <option>Four Vale</option>
            </select>
        </div>
        <div class="form-group">
            <label>Multiple Select Example</label>
            <select multiple class="form-control">
                <option>One Vale</option>
                <option>Two Vale</option>
                <option>Three Vale</option>
                <option>Four Vale</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit Button</button>
        <button type="reset" class="btn btn-primary">Reset Button</button>

    </form>
    <br />
    <h3>With radio & checkboxes</h3>
    <form>

        <div class="form-group input-group">
            <span class="input-group-addon">
                <input type="checkbox" />
            </span>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <input type="radio" />
            </span>
            <input type="text" class="form-control" />
        </div>
    </form>


</div>
</div> --}}