<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h2>Movie genre management table</h2>

        </div>
    </div>
    <!-- /. ROW  -->
    <hr />

    <div class="row">
        <div class="col-md-12">
            <a href="/admin/addFilm" class="btn btn-primary ml-auto">Thêm Phim</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    Advanced Tables
                </div>
                <div class="panel-body">
                    <div class="table-responsive ">

                        <table class="table table-striped table-bordered table-hover " id="dataTables-example" <thead>
                            <tr>
                                <th>Tên phim</th>
                                <th>Slug</th>
                                <th>Tên tiếng anh</th>
                                <th>Thể loại</th>
                                <th>Quốc gia</th>
                                <th>Danh mục</th>
                                {{!-- <th>Mô tả</th> --}}
                                <th>Đạo diễn</th>
                                <th>Diễn viên</th>
                                <th>Năm sản xuất</th>
                                <th>Thời lượng</th>
                                <th>Hình ảnh</th>
                                <th>Chất lượng phim</th>
                                <th>Phụ đề</th>
                                <th>Trailer</th>
                                <th>Season</th>
                                <th>Tập phim</th>
                                {{!-- <th>Link phim</th> --}}
                                <th>Features</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each element}}
                                <tr>
                                    <td>{{this.nameFilm}}</td>
                                    <td>{{this.slug}}</td>
                                    <td>{{this.nameEng}}</td>
                                    <td>
                                        {{#each this.genre}}
                                        <button
                                            style="background-color: rgb(235, 51, 235); color: white; margin: 2px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">
                                            {{this.nameGenre}}
                                        </button>
                                        {{/each}}
                                    </td>
                                    <td>{{this.country.nameCountry}}</td>
                                    <td>
                                        {{#each this.category}}
                                        <button
                                            style="background-color: #f9ca24; color: white; margin: 2px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">
                                            {{this.nameCategory}}
                                        </button>
                                        {{/each}}
                                    </td>
                                    {{!-- <td>{{this.describe}}</td> --}}
                                    <td>{{this.director}}</td>
                                    <td>{{this.actor}}</td>
                                    <td>{{this.YearFilm}}</td>
                                    <td>{{this.duration}}</td>
                                    <td>
                                        <img src="/images/{{this.image}}" alt="" height="40px" width="30px">
                                    </td>
                                    <td>{{this.resolutions}}</td>
                                    <td>{{this.subtitle}}</td>
                                    <td>{{this.trailer}}</td>
                                    <td>{{this.season}}</td>
                                    <td>{{this.episode}}</td>
                                    {{!-- <td>{{this.linkPhim}}</td> --}}
                                    <td>
                                        <a href="/admin/editFilm/{{this._id}}"
                                            class="icon-box bg-warning set-icon btn btn-default">
                                            <i class="fa fa-pencil fa-1x"></i>
                                        </a>
                                        <a type="button" class="icon-box bg-danger set-icon btn btn-default"
                                            data-id="{{id}}" data-toggle="modal" data-target="#deleteUserModal">
                                            <i class="fa fa-trash-o fa-1x"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>
{{! Conform delete }}
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc chắn muốn xóa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-user" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>
<form name="formDel" method="POST" id="deleteForm"></form>

<script>
    var id; var deleteForm = document.forms['formDel']; var btnDeleteUser =
        $('#btn-delete-user');
    $('#deleteUserModal').on('show.bs.modal', function (event) {
        var button =
            $(event.relatedTarget); id = button.data('id');
    });
    btnDeleteUser.click(function () { ////sử ở đây thành đường dẫn
        deleteForm.action = `/admin/deleteFilm/` + id; deleteForm.submit();
    });
    $('#Film').addClass('active-menu');
</script>