<div class="panel-body">
  <div class="row">
    <button class="btn btn-success" onclick="window.location.href='/admin/category'">Back</button>
    <div class="col-md-12">
      <h3 class="text-center text-warning h1">Chỉnh sửa danh mục</h3>
      <form action="/admin/editCategory/{{data._id}}" method="POST">
        <div class=" form-group">
          <label>Tên danh mục </label>
          <input class="form-control" name="nameCategory" value="{{data.nameCategory}}" id="slug"
            onkeyup="ChangeToSlug()" />
          <label>Mô tả</label>
          <input class="form-control" name="description" value="{{data.description}}" id="description" />

          <label for="slug">Slug:</label>
          <input class="form-control" name="slug" value="{{data.slug}}" id="convert_slug" />
          {{#each errors}}
          <span class="control-label" style="color: red;">{{this.message}}</span>
          {{/each}}
        </div>
        <button type="submit" class="btn btn-warning">Cập nhật</button>
      </form>
    </div>
  </div>
</div>
<script>
  $('#category').addClass('active-menu');
</script>